footer-box{
    margin-left: auto;
    margin-right: auto }
    
    
    /*media screen*/
pre {
    color: #f5f5f5;
    background-color: #333;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*media screen*/
/*a {
    color: #0099ff;
}*/

/*media screen*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #222;
    color: #D3C7C7;
}

/*@media all and (min-width:768px)*/
.collapse.navbar-collapse {
    padding-top: 10px;
}

/*media screen*/
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

/*media screen*/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #0099ff;
}
.dropdown-menu > li > a.nav-header-link:hover, .dropdown-menu > li > a.nav-header-link:focus {
    margin-left:-10px;
    padding-left: 10px;
}

.dropdown-menu > li > a.nav-header-link {
    margin-left:-10px;
    padding-left: 10px;
    font-weight: 700;
}

.nav-header {
    padding-left: 10px;
    font-weight: 700;
}

/*media screen*/
.btn-default {
    color: #0099FF;
    background-color: #222;
    border-color: #0099FF;
}

.btn:hover, .btn:focus {
    color: #D3C7C7;
    border-color: #0099FF;
}

/*media screen*/
.navbar-inverse .navbar-nav > li > a {
    color:#0099FF;
    font-size: 20px;
    font-weight: 700;
}

/*media screen*/
.navbar-inverse {
    border-color: #222;
}

/*media screen*/
.form-control {
    color: #fff;
    background-color: #222;
    background-image: none;
    border: 1px solid #0099FF;
    border-radius: 4px;
}

body {
  background-color: #222;
  padding-top: 70px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #0099FF;
  background-color: #222;
}
div.body-page {
  background-color: #D3C7C7;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

div.body-main {
  background-color: #D3C7C7;
}

.nav-tabs {
    border-bottom: 0px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .active.btn-default, .open .btn-default.dropdown-toggle .form-control{
  background-color: #222;
}

div.body-side {
}

/*media screen*/
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}


.navbar-inverse {
  
}

.navbar-brand {
    padding-right:0px;
  font-size: 40px;
  line-height: 40px;
  height: 70px;
  margin-left: 0px;
  font-weight: 600;
  color:#0099FF;
}

img {
vertical-align: baseline;
}

div.logo-box {
  margin-left: 10px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color:#0099FF;
  font-weight: 700;
}


      #footer {
        height: 30px;
        background-color: #222;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
